<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBB108047 杜孟憲</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <div id="movies">
        <div v-if="checkList" class="checkList" style="padding: 50px;">
            <div class="titleList">                
                <h1>購物車</h1>
                <h1>名稱</h1>
                <h1>數量</h1>
            </div>
            <div class="list" >
                <div class="listitem" v-for="item in list">
                    <img :src="item.cover" style="width: 100px;">
                    <h3 class="name"> {{item.name}} </h3>
                    <input type="number" min="1" class="number" v-model.number="item.number" style="width:3em; border:none;outline:none;background-color:none;">
                </div>
            </div>
        </div>
        <div class="fixed-control" style="position: fixed; right:20px;top:20px;">
            <div style="display: flex; justify-items: space-between;" @click="checkList=!checkList">
                <i class="fa fa-shopping-cart fa-3x" style="color: rgb(192, 192, 192); cursor: pointer;"></i>
                <h3 v-if="list.length > 0" style="cursor:default; margin-left:10px;color:aliceblue"> {{list.length}} </h3>
            </div>

        </div>
        <div class="hotel_california" @wheel.prevent="wheel($event)">
            <div class="cards" style="left: 10px">

                <div class="card" v-for="movie in movies">

                    <div class="left">
                        <img :src="movie.cover">
                        <h2 class="title">{{movie.name}}</h2>
                        <div class="purchase mobile">
                            <label>
                                <span>數量 : </span>
                                <input type="text" v-model="movie.number">
                                <button @click="add2list(movie)">Purchase</button>
                            </label>
                        </div>
                    </div>
                    <div class="right">
                        <div style="display:flex; justify-content: space-between;">
                            <h2> {{movie.name}} </h2>
                            <h2 style="color: rgb(43, 43, 43);"> ${{movie.price}} </h2>
                        </div>
                        <h4> {{movie.type}} </h4>
                        <p v-html="movie.description"></p>
                        <div class="purchase desktop">
                            <label>
                                <span>數量 : </span>
                                <input type="text" v-model="movie.number">
                                <button @click="add2list(movie)">Purchase</button>
                            </label>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</body>

<script src="https://unpkg.com/vue@next"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src="./index.js"></script>

</html>