html,body{
    background-color: black;
    color: aliceblue;
    margin-left: 30px;
}
h2{
    color: red;
}

.blocks .block{
    display: flex;
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px red;
    border: 1px white solid;
    transition: 0.5s;
}

/*--------block--------*/
.row:nth-child(1)>.block:nth-child(1){
    border: 3px rgb(235, 176, 176) solid;
}
.row:nth-child(2)>.block:nth-child(1){
    border: 3px rgb(167, 228, 172) solid;
}
.row:nth-child(1)>.block:nth-child(2){
    border: 3px rgb(164, 153, 212) solid;
}
.row:nth-child(2)>.block:nth-child(2){
    border: 3px rgb(134, 176, 182) solid;
}


/*-------hover-------*/
.row:nth-child(1)>.block:nth-child(1):hover{
    box-shadow: 0 0 50px rgb(235, 176, 176);
}
.row:nth-child(2)>.block:nth-child(1):hover{
    box-shadow: 0 0 50px rgb(167, 228, 172);
}
.row:nth-child(1)>.block:nth-child(2):hover{
    box-shadow: 0 0 50px rgb(164, 153, 212);
}
.row:nth-child(2)>.block:nth-child(2):hover{
    box-shadow: 0 0 50px rgb(134, 176, 182);
}
/*-------active---------*/
.row:nth-child(1)>.block:nth-child(1):active,.row:nth-child(1)>.block:nth-child(1).active{
    
    background-color: rgb(235, 176, 176);;
    box-shadow: 0 0 50px rgb(235, 176, 176);
}
.row:nth-child(2)>.block:nth-child(1):active,.row:nth-child(2)>.block:nth-child(1).active{
    background-color: rgb(167, 228, 172);;
    box-shadow: 0 0 50px rgb(167, 228, 172);
}
.row:nth-child(1)>.block:nth-child(2):active,.row:nth-child(1)>.block:nth-child(2).active{
    background-color: rgb(164, 153, 212);;
    box-shadow: 0 0 50px rgb(164, 153, 212);
}
.row:nth-child(2)>.block:nth-child(2):active,.row:nth-child(2)>.block:nth-child(2).active{
    background-color: rgb(134, 176, 182);;
    box-shadow: 0 0 50px rgb(134, 176, 182);
}
/*-----------*/
.blocks .row{
    display: flex;
}